<!DOCTYPE html>
<html>
<head>
  <title>PixelQream</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "colorpicker" %>
  <%= javascript_include_tag "colorpicker.js" %> 
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

<%= yield %>

</body>
</html>
