<!DOCTYPE html>
<html>
<head>
  <title>Crimes Against Code</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "colorpicker" %>
  <%= javascript_include_tag "colorpicker.js" %> 
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render "layouts/google_analytics" %>
</head>
<body>

<%= yield %>

</body>
</html>
