!!! 5
%html
  %head
    %title Crimes Against Code
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "colorpicker"
    =# stylesheet_link_tag "screen.css", :media => "screen, projection"
    =# stylesheet_link_tag "print.css", :media => "print"
    = javascript_include_tag "application"
    = javascript_include_tag "colorpicker"
    = favicon_link_tag "favicon.ico"
    = render "layouts/google_analytics"
    = render "layouts/mixpanel"

= yield

= render "layouts/google_adsense"
